<div id="fab-dismiss"
    *ngIf="fabOptions[tab].fabTogglerState==='active'"
    (click)="onToggleFab([tab])"></div>
<div class="fab-container">
    <button mat-fab color="primary" class="fab-toggler"
            (click)="onToggleFab([tab])">
        <i class="material-icons" [@fabToggler]="{value: fabOptions[tab].fabTogglerState}">{{fabOptions[tab].icon}}</i> <!-- Animation here -->
    </button>
    <div [@speedDialStagger]="fabOptions[tab].buttons.length"> <!-- Animation here -->
        <button *ngFor="let btn of fabOptions[tab].buttons"
                (click)="speedDial(btn.name)"
                mat-mini-fab
                class="fab-secondary"
                color="primary">
            <mat-icon matTooltip="{{btn.name}}" matTooltipPosition="left">{{btn.icon}}</mat-icon>
        </button>
    </div>
</div>