<div *ngFor="let category of budgetCategories" class="budgetCategory">
    <div class="{{category.color}}">
        <mat-card (click)="category.open = !category.open" class="category">
            <mat-card-title>{{category.category}}</mat-card-title>
            <mat-card-content>
                <div>${{([sum(category)])}}</div>
                <div>{{([category.costBasis])}}</div>
            </mat-card-content>
        </mat-card>
        <div *ngIf="category.open">
            <mat-card class="dropDown">
                <div *ngFor="let child of category.children" class="children">
                    <div (click)="child.open = !child.open">
                        <mat-card-content>
                            <app-inline-edit [(ngModel)]="child.name" [required]="true" type="text"></app-inline-edit>
                        </mat-card-content>
                        <mat-card-content>
                            <div>
                                <app-inline-edit [(ngModel)]="child.amount[0][category.costBasis]" [required]="true" type="text"></app-inline-edit>
                            </div>
                            <div></div>
                        </mat-card-content>
                    </div>
                    <div *ngIf="(child.children != '')&&(child.open)">
                        <mat-card class="childDropDown">
                            <div *ngFor="let child of child.children" class="grandchildren">
                                <mat-card-content>{{child.name}}</mat-card-content>
                                <mat-card-content>
                                    <div>${{([getAmount(category,child)])}}</div>
                                    <div></div>
                                </mat-card-content>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>


