.tab {
    font-size: small !important;
    margin: 0 !important;
    padding: 0 !important;
}

mat-tab-group  {
    bottom: 0;
    height: 94vh;
}

.mat-tab-body-content {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    width: 100vw;

}



