<app-shell>

    
    <div id="homepageContent">
        <div id="homeTop">
            <img id="bannerLogo" src="./assets/hunny-white-banner.PNG">
            <div>
              <button mat-raised-button routerLink="login">Sign up</button>
              <button mat-raised-button >Learn More</button>
            </div>
        </div>
        <div id="homeFeat">
          <h2>Main Features</h2>
          <mat-card id="homeFeat1">
            <mat-card-title>Budget</mat-card-title>
            <mat-card-content>
              <ul>
                <li>Split up by Income, Expenses, Savings and Spending.</li>
                <li>Build multiple budgets and compare them.</li>
              </ul>
            </mat-card-content>
          </mat-card>
          <mat-card id="homeFeat2">
            <mat-card-title>Calendar</mat-card-title>
            <mat-card-content>
              <ul>
                <li>See your upcoming bills and paychecks.</li>
                <li>Filter only bills or any items you want to see.</li>
              </ul>
            </mat-card-content>
          </mat-card>
          <mat-card id="homeFeat3">
            <mat-card-title>Goals</mat-card-title>
            <mat-card-content>
              <ul>
                <li>Set goals for everything big and small.</li>
                <li>Set amount aside each week and see your savings grow.</li>
              </ul>
            </mat-card-content>
          </mat-card>
          <mat-card id="homeFeat4">
            <mat-card-title>Accounts</mat-card-title>
            <mat-card-content>
              <ul>
                <li>Mirror your bank accounts to help see your budget in action.</li>
                <li>See the flow of money through your bank accounts to match your main budget.</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
        <div id="homePrice">
            <h2>Pricing</h2>
              <mat-card>
                <mat-card-title>Free Tier</mat-card-title>
                <mat-card-content>
                  <ul>
                    <li>Limit: 1 Budget</li>
                    <li>Limit: 3 Goals</li>
                    <li>Banner Ads</li>
                  </ul>
                </mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-title>Pro Tier</mat-card-title>
                <mat-card-content>
                  <ul>
                    <li>Unlimited Budgets</li>
                    <li>Unlimited Goals</li>
                    <li>No Ads!</li>
                    <li>Customized budget colors</li>
                    <li>Add emojis and icons to goals and budgets</li>
                    <li>More Pro Tier Features to come!</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            
        </div>
        <div id="homeAbout">
            <h2>About Us</h2>
            <mat-card>
              <mat-card-content>
                <p>This is a project to help land me a dev job, while also helping me manage my money in the process!</p>
                <p>Check out me on my personal website, or Github!</p>
              </mat-card-content>
            </mat-card>
        </div>
    </div>
    
</app-shell>

