<div class="mainContent">
    <div [class]="scrollclass">
        <h2>Main Budget</h2>
        <div class="toggles">
            <app-week-month-toggle (selectedValueEvent2)="receiveSelectedValue($event)"></app-week-month-toggle>
            <app-sum-detail-toggle (selectedValueEvent)="receiveSelectedValue($event)"></app-sum-detail-toggle>
        </div>
        <app-edit-remainder></app-edit-remainder>
    </div>
    <div class="appBody" id="budgetBody" (scroll)="scrollHandler($event)">
        <app-budget-category [budgetCategories]="budgetCategories"></app-budget-category>
    </div>
</div>



